.homeContainer {
  padding: 90px 0;
}

.mainHeading {
  font-size: 75px;
  /* max-width: 480px; */
  letter-spacing: -0.2px;
  line-height: 90px;
  font-weight: 300;
  margin-bottom: 31px;
}

.mainParagraph {
  /* max-width: 485px; */
  font-weight: 400;
  margin-bottom: 31px;
}

.portfolioLink {
  position: relative;
  width: 175px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  overflow: hidden;
}

.circle {
  display: block;
  /* vertical-align: middle; */
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(356deg);
  }
}

/* .arrow {
  position: absolute;
  vertical-align: middle;
} */

.stat {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stats {
  gap: 100px;
  /* margin-top: 55px; */
  /* font-size: 16px; */
  margin-top: 40px;
  display: flex;
}

.number {
  font-size: 72px;
  color: var(--primary-color);
  line-height: 56px;
  margin-bottom: 38px;
  letter-spacing: -0.2px;
  font-weight: 300;
  /* text-align: center; */
}

.p {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 1px;
}

@media (max-width: 1200px) {
  .homeContainer {
    /* width: 65vw; */
    width: 100%;
    margin: 0 auto;
    padding: 70px 0;
  }
}

@media (max-width: 755px) {
  .mainHeading {
    font-size: 58px;
    line-height: 1.3;
  }

  .stats {
    margin-top: 50px;
  }

  .portfolioLink {
    margin-left: 0;
  }

  .number {
    font-size: 58px;
    line-height: 1.3;
  }
}

@media (max-width: 600px) {
  .mainHeading {
    font-size: 45px;
  }

  .number {
    font-size: 50px;
  }

  .stats {
    gap: 50px;
  }
}
