.mainHeading {
  font-size: 75px;
  /* max-width: 480px; */
  letter-spacing: -0.2px;
  line-height: 90px;
  font-weight: 300;
  margin-bottom: 31px;
}

.mainParagraph {
  max-width: 485px;
  font-weight: 400;
  margin-bottom: 31px;
}

.green {
  color: var(--primary-color);
}
