.navBarContainer {
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 20;
}

.menuBtn {
  color: #999999;
  outline: none;
  right: 5px;
  position: absolute;
}

.mainNavList {
  background-color: #000000;
  list-style-type: none;
  border: 1px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 68px;
  font-size: 15px;
  text-align: center;
  gap: 15px;
  padding: 24px 0;
  z-index: 20;
  border-radius: 30px;
  text-decoration: none;
}

.navItem {
  display: block;
  /* position: relative; */
  width: 55px;
  transition: 0.3s;
  color: #999999;
  cursor: pointer;
}

.navItem.active {
  color: var(--primary-color);
}

.navItem:hover {
  color: var(--primary-color);
}

@media (max-width: 1200px) {
  .navBarContainer {
    position: absolute;
    right: 0;
    height: unset;
    background: transparent;
  }

  .menuBtn {
    top: 60px;
    right: 68px;
    height: 55px;
    width: 55px;
    background-color: #1f1f1f;
    outline: none;
    position: fixed;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    z-index: 50;
    cursor: pointer;
    transition: 0.3s;
  }

  .menuBtn:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  .mainNavList {
    display: none;
  }
}

@media (max-width: 755px) {
  .menuBtn {
    right: 30px;
    top: 30px;
  }
}
