.navBarContainer {
  height: 100vh;
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 20;
}

.mainNavList {
  background-color: #000000;
  list-style-type: none;
  border: 1px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 68px;
  font-size: 15px;
  text-align: center;
  gap: 15px;
  padding: 24px 0;
  z-index: 20;
  border-radius: 30px;
  text-decoration: none;
}

.navItem {
  display: block;
  /* position: relative; */
  width: 55px;
  transition: 0.3s;
  color: #999999;
  cursor: pointer;
}

.navItem.active {
  color: var(--primary-color);
}

.navItem:hover {
  color: var(--primary-color);
}
