.portfolioContainer {
  padding: 90px 0;
}

/* .header {
  font-size: 48px;
  font-weight: 300;
  line-height: 60px;
  margin-bottom: 33px;
} */

.project {
  height: 410px;
  border-radius: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.projectOverlay {
  position: absolute;
  right: 0;
  /* top: 410px; */
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  color: rgb(233, 233, 233);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.projectOverlay p {
  color: #fff;
  font-size: 14px;
  padding-top: 10px;
  font-weight: 300;
}

.projectImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.projectTools {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #000;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  bottom: 20px;
  left: 20px;
}

.projectTool {
  display: block;
  font-size: 14px;
  background: #000;
  color: #fff;
  padding: 7px 20px;
  border-radius: 19px;
  transition: 0.3s;
}

.projectDes {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  line-height: 1.2;
}

.middleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolioItem,
.innerPortfolioItem {
  margin-bottom: 68px;
}

.portfolioItem:hover,
.innerPortfolioItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.innerPortfolioItem {
  width: 48%;
}

@media (max-width: 1200px) {
  .portfolioContainer {
    padding: 30px 0 70px 0;
  }
}

@media (max-width: 755px) {
  .middleWrapper {
    flex-direction: column;
  }

  .portfolioItem:last-child {
    margin-bottom: 0;
  }

  .innerPortfolioItem {
    width: 100%;
  }
}
