.socials {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
}

.handle {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 46px;
  text-align: center;
  border: 2px solid #565656;
  border-radius: 50%;
  color: #999999;
  cursor: pointer;
  transition: 0.3s;
}

/* .onHover{
 color: #0a58ca;
}

.notHover{
 color: ;
} */

.handle:hover {
  border: 2px solid #28e98c;
}

.icon {
  width: 50%;
}
