.mainContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.contactContainer {
  height: 100vh;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline {
  /* margin-left: 490px; */
  margin-left: 33vw;
  /* padding: 68px 0; */
  /* margin-right: 75px; */
  /* margin-right: 150px; */
  margin-right: 13vw;
}

.img {
  width: 100%;
}
