.mainContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.contactContainer {
  height: 100vh;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline {
  margin-left: 490px;
  /* padding: 68px 0; */
  /* margin-right: 75px; */
  margin-right: 150px;
}

.img {
  width: 100%;
}
